.bg-darkpurple {
  background: var(--dark-bg-colour);
  top: 0;
  align-self: auto;
  border-bottom: solid 1px var(--main-bg-colour);
}

.db-darkpurple {
  background: var(--dark-bg-colour);
  border-bottom: solid 1px var(--main-bg-colour);
}

.mc-auto {
  margin: auto;
}

.dropdown-item {
  color: white !important;
}

.dropdown-item:hover {
  background-color: #546bd0 !important;
}


#smallLogo {
  display: none;
}

@media only screen and (max-width: 700px) {
  #smallLogo {
    display: block;
  }
  #bigLogo {
    display: none;
  }
}