::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-bg-colour);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-bg-colour);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-bg-colour);
}
