body {
  overflow: auto !important;
  margin: 0;
  font-family: helvetica !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-mode) !important;
  color: white !important;
  overflow: overlay;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  background-color: var(--dark-mode) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

::placeholder {
  color: white;
  opacity: 1;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

p, pre {
  margin: 0 !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.titlebar {
  position: fixed !important;
}

.container-after-titlebar {
  inset: 0 !important;
  position: static !important;
  overflow: inherit !important;
}

.window-title {
  opacity: 0;
}

.grecaptcha-badge {
  display: none !important;
}